<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Categorias de productos</h2><br/>
    <img src="./images/productos1.jpg" height="200" width="200"/>
    <img src="./images/productos2.jpg" height="200" width="200"/>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${listaCategorias}">
                <td th:text="${categoria.id}">Id</td>
                <td th:text="${categoria.nombre}">nombre</td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a th:href="@{/categorias/borrar/{id} (id=${categoria.id})}">Borrar</a>
                </td>
        </tbody>
    </table>
    <p style="color:red;" th:text="${msg}">Mensaje error</p>
    <a th:href="@{/categorias/nuevo}">Nueva categoria</a><br/>
    <a href="/home">Volver al indice</a>
</body>
</html>