<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nueva categoría</h1>
    <form method="post" action="#" th:action="@{/categorias/nuevo/submit}" th:object="${categoriaForm}">
        <label>Id: <input type="hidden" id="id" th:field="*{id}"/> </label> <br/>
        <label>Nombre: <input type="text" id="nombre" th:field="*{nombre}"/></label> <br/>
        <input type="submit" value="Enviar"/>
    </form>
    <a th:href="@{/categorias}">Volver a Categorias</a> <br/>
</body>
</html>