<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de la compra</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/Buscador.js"></script>
    
    <!-- <link type="text/css" rel="stylesheet" href="./css/#"> -->
    <link type="text/css" rel="stylesheet" href="/css/Cabeceras.css">
    <link type="text/css" rel="stylesheet" href="/css/Footer.css">
</head>
<body>
    <header th:replace="~{./fragments/cabecerasFragment.html::cabecera}">
        
    </header>
    <nav th:replace="~{./fragments/cabecerasFragment.html::barraNav}">
      
    </nav>

    <h2>Carrito de la compra</h2>
    <div>
        Actualmente no hay nada en el carrito.
        Añade productos al carrito para comprar.
    </div><br/>
    
    <footer th:replace="~{./fragments/fixedFooterFragment.html::footer}">
      
    </footer>
</body>
</html>