<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de la compra | La Huerta del Abuelo</title>
    <link rel="icon" type="image/x-icon" href="/images/LogotipoProyecto.jpg">

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/Buscador.js"></script>
    <script type="text/javascript" src="/js/Productos.js"></script>

    <link type="text/css" rel="stylesheet" href="/css/Carrito.css">
    <link type="text/css" rel="stylesheet" href="/css/Cabeceras.css">
    <link type="text/css" rel="stylesheet" href="/css/Footer.css">
</head>

<body>
    <header th:replace="~{./fragments/cabecerasFragment.html::cabecera}">

    </header>
    <nav th:replace="~{./fragments/cabecerasFragment.html::barraNav}">

    </nav>

    <main id="main-content">
        <h2>Carrito de la compra</h2>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Compra</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="detallesCompra : ${listaDetallesCompra}">
                    <td th:text="${detallesCompra.id}">Id</td>
                    <td th:text="${detallesCompra.compra.id}">compra</td>
                    <td th:text="${detallesCompra.producto.nombre}">producto</td>
                    <td th:text="${detallesCompra.cantidad}">cantidad</td>
                    <td><a th:href="@{/detallesCompra/borrar/{id} (id=${detallesCompra.id})}">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        <div class="btn">
            <a th:href="@{/compras/confirmar/{id} (id=${compra.id})}" id="boton-compra">Finalizar Compra</a><br/>
        </div>

    </main>

    <footer th:replace="~{./fragments/fixedFooterFragment.html::footer}">

    </footer>
</body>

</html>