<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cambiar Contraseña</h1>
    <form method="post" action="#" th:action="@{/password/submit}" th:object="${passwordForm}">
        <input type="hidden" id="nombre" th:field="*{nombre}"/><br/>
        <label>Contraseña: <input type="password" id="contrasena" th:field="*{contrasena}"/></label><br/>
        <input type="submit" value="Confirmar">
    </form><br/>
</body>
</html>