<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Destacados | La Huerta del Abuelo</title>
  <link rel="icon" type="image/x-icon" href="/images/LogotipoProyecto.jpg">

  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/Buscador.js"></script>

  <link type="text/css" rel="stylesheet" href="/css/AllProductos.css">
  <link type="text/css" rel="stylesheet" href="/css/Cabeceras.css">
  <link type="text/css" rel="stylesheet" href="/css/Footer.css">
</head>

<body>
  <header th:replace="~{./fragments/cabecerasFragment.html::cabecera}">

  </header>
  <nav th:replace="~{./fragments/cabecerasFragment.html::barraNav}">

  </nav>

  <main>
    <h2>Disfruta de nuestra selección de productos estrella</h2><br />

    <table class="table table-bordered table-striped">
      <thead class="destacados">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>IVA</th>
          <th>Temporada</th>
          <th>Stock</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="destacados">
        <tr th:each="producto : ${listaProductos}">
          <td th:text="${producto.id}">Id</td>
          <td th:text="${producto.nombre}">nombre</td>
          <td th:text="${producto.precio}">€</td>
          <td th:text="${producto.iva}">Iva</td>
          <td th:text="${producto.temporada}">temporada</td>
          <td th:text="${producto.stock}">stock</td>

          <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/productos/borrar/{id} (id=${producto.id})}">Borrar</a>
          </td>
          <td sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/productos/editar/{id} (id=${producto.id})}">Editar</a>
          </td>
          <td>
            <a id="comprar" th:href="@{/productos/comprar/{id} (id=${producto.id})}">Comprar</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p style="color: red" th:text="${msg}">Mensaje</p>
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/productos/nuevo}">Nuevo producto</a><br />
  </main>

  <footer th:replace="~{./fragments/footerFragment.html::footer}">

  </footer>
</body>

</html>