@font-face {
  font-family: "Roboto";
  src: url("../fuentes/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../fuentes/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: Oswald, Roboto;
}
a {
  color: #000000;
}
img {
  width: 97px;
  height: 90px;
}
/* ESTILO CUERPO */
#main-content {
  font-size: 21px;
  height: 70vh;
}
#main-content h2 {
  font-weight: bold;
  font-size: 34px;
  color: #ffb833;
  text-align: center;
  margin: 10px 0;
}
#main-content .btn {
  font-size: 21px;
  background-color: #ffb833;
  border: 2px solid #000000;
  padding: 10px;
}
.boton-compra {
  text-decoration: none;
}
