<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre nosotros | La Huerta del Abuelo</title>
  <link rel="icon" type="image/x-icon" href="/images/LogotipoProyecto.jpg">

  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="/js/Buscador.js"></script>

  <link type="text/css" rel="stylesheet" href="/css/Cabeceras.css">
  <link type="text/css" rel="stylesheet" href="/css/AboutUs.css">
  <link type="text/css" rel="stylesheet" href="/css/Footer.css">
</head>

<body>
  <header id="main-header" th:replace="~{./fragments/cabecerasFragment.html::cabecera}">

  </header>
  <nav th:replace="~{./fragments/cabecerasFragment.html::barraNav}">

  </nav>

  <main id="main-content">
    <div class="container">
      <img src="/images/quienes-somos.png" />
      <h2>Sobre nosotros</h2>
      <p>El propósito de nuestra página es promover la compra de productos agrícolas, cultivados de manera ecológica a
        diferencia de las grandes productoras y supermercados.
      </p>
      <h3>Cómo usar la página</h3>
      <div class="container">
        <p>En caso de que tengas problemas para usar la página, aquí te dejamos una pequeña guía:</p>
        <ol>
          <li>A. <b>Inicia sesión</b>; en caso de ya tener una cuenta creada.</li>
          <li>B. <b>Crea una cuenta</b> si no estás registrado, se te solicitará un nombre de usuario, un correo electrónico, una dirección de envío y una
            contraseña. Después de crear tu cuenta, deberás volver a iniciar sesión</li>
          <li>Acceder a la vista de productos por medio de una de las imágenes de la página principal, o por un de los
            enlaces de la barra de navegación.</li>
          <li>Añadir los productos que quieras comprar al carrito.</li>
          <li>Accede al carrito desde la barra de navegación.</li>
          <li>Confirma el pedido para finalizar la compra.</li>
        </ol><br/>
      </div>
    </div>
  </main>

  <footer th:replace="~{./fragments/footerFragment.html::footer}">
      
  </footer>
</body>

</html>