<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iniciar sesion</title>
        <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>

        <link type="text/css" rel="stylesheet" href="./css/NewAccount.css">
    </head>
    <body>
        <fieldset class="container-sm text-center my-5">
            <div id="logotipo">
                <a href="/home">
                    <img src="./images/LogotipoProyecto.jpg" title="La Huerta del abuelo" alt="logotipo página">
                </a>
                <p>Iniciar sesión</p>
            </div>
            <form th:action="@{/login}" method="post" id="formulario">
                <div>
                    <label>
                        <b>Nombre</b><br>
                        <input type="text" name="username" placeholder="Nombre de usuario"/>
                    </label><br>
                </div><br/>
                <div>
                    <label>
                        <b>Contraseña</b><br>
                        <input type="password" name="password" placeholder="Al menos 4 caracteres" minlength="4"/>
                    </label><br>
                </div><br/>
                <input type='checkbox' name='remember-me'/>Recuerdame</p>
                <input type="submit" class="p-3 text-center" id="entrar" value="Entrar"/>
            </form>
            <div th:if="${param.error}">Credenciales incorrectas</div>
            <div th:if="${param.logout}">Te has desconectado</div>
        </fieldset>
    </body>
</html>